gpytranslate==1.5.1
shazamio==0.8.1
aiofiles==23.2.1
aiohttp
apscheduler
asyncio
beautifulsoup4
bleach
bs4==0.0.2
captcha==0.7.1
cloudscraper
dateparser
dnspython==2.7.0
emoji==2.14.1
envparse
faker
ffmpeg-python
gtts
heroku3
html2text
httpx[http2]
humanize
img2pdf
lxml
motor
markdown2==2.5.4
mutagen
multicolorcaptcha
opencv-python-headless
psycopg2-binary
Pillow==11.3.0
pykeyboard
pymongo==4.14.1
pynewtonmath
pyrate-limiter==3.9.0
pyrogram==2.0.106
pyromod==3.1.6
py-tgcalls==2.2.5
python-dotenv==1.1.1
python-telegram-bot==22.3
pytimeparse
pytube
qrcode
Random-Word-Generator
regex
requests
somnium
spamwatch
speedtest-cli
sqlalchemy==2.0.43
telegraph
telethon
pyshorteners
tgcrypto
wget
youtube_search_python==1.6.6
ytmusicapi
yt-dlp==2025.8.11
zalgo-text
