aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
bleach
bs4==0.0.1
captcha==0.4 
cloudscraper
dateparser
dnspython==2.3.0
emoji==1.7.0
envparse
faker
ffmpeg-python
gpytranslate==1.5.1
gtts
heroku3
html2text
humanize
img2pdf
lxml==4.9.3
markdown2==2.4.3
motor
mutagen
multicolorcaptcha
opencv-python-headless
PeakPxApi
pillow==9.4.0
pornhub-api==0.2.0
psycopg2-binary
pykeyboard
pymongo==3.12.1
pynewtonmath
pyrate-limiter==2.10.0
pyromod==1.5.0
py-shorteners 
pytelegrambotapi==20.1
pytimeparse
pytube
qrcode
random-word-generator
redis
regex
requests 
shazamio==0.0.2
spamwatch
speedtest-cli
sqlalchemy==1.4.46
telegraph
telethon==1.32.0
pyshorteners 
tgcrypto
wget
youtube-search-python==1.4.9
ytmusicapi
yt-dlp
zalgo-text
